body {
  background-color: rgb(255, 184, 155);
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h5 {
  font-family: "Times New Roman", Times, serif;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  text-decoration-line: underline;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  text-decoration-line: underline;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  text-shadow: 0px 5px #47474760;
}
@media (min-width: 820px) and (max-width: 1430px) {
  p {
    font-size: 11px;
  }
  a {
    font-size: 11px;
  }
  h3 {
    font-size: 15px;
  }
  h2 {
    font-size: 20px;
  }
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    text-shadow: 0px 5px #47474760;
  }
}
@media only screen and (min-width: 410px) and (max-width: 820px) {
}
