.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 10px;
}
.container * {
  margin-bottom: 1px;
  margin-right: 1px;
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
}
header {
  background: rgb(255, 88, 158);
  grid-column-start: 4;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 60px;
  border-style: solid;
  box-shadow: 0px 3px 5px;
}
header a {
  width: 100px;
  margin-top: 5px;
}
a:link,
a:visited {
  background-color: rgb(255, 171, 210);
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(160, 0, 80);
  color: white;
}
article {
  background: rgb(255, 88, 158);
  grid-column-start: 4;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 13;
  border-style: solid;
  box-shadow: 0px 3px 5px;
}
article img {
  margin-left: 95px;
  margin-top: 25px;
  border-radius: 75px;
  border-color: rgb(255, 196, 124);
  border-style: solid;
}
.bestel {
  justify-content: center;
  flex-wrap: wrap;
}
.contact {
  margin-left: 10px;
  margin-bottom: 25px;
  text-align: center;
}
footer {
  background: rgb(255, 88, 158);
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 13;
  grid-row-end: 13;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  box-shadow: 0px 3px 5px;
}

.s1 {
  background: rgb(255, 187, 216);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 5px;
  border-style: solid;
  box-shadow: 0px 3px 5px;
}
.s2 {
  background: rgb(255, 149, 130);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-style: solid;
  box-shadow: 0px 3px 5px;
}

.s3 {
  background: rgb(255, 88, 102);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 13;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-style: solid;
  box-shadow: 0px 3px 5px;
}
@media (max-width: 700px) {
  .container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
  }
  header {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-gap: 50px;
  }
}
