.container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
}
.container * {
  margin-bottom: 1px;
  margin-right: 1px;
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
}
header {
  background: rgb(255, 88, 158);
  grid-column-start: 4;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  grid-column-gap: 50px;
  box-shadow: 0px 3px 5px;
}
header a {
  text-decoration-line: underline;
  width: 30px;
}
svg {
  width: 24px;
  height: 24px;
}
a:link,
a:visited {
  background-color: rgb(255, 171, 210);
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(160, 0, 80);
  color: white;
}
article {
  background: rgb(255, 88, 158);
  grid-column-start: 4;
  grid-column-end: 14;
  grid-row-start: 2;
  grid-row-end: 6;
  border-style: solid;
  box-shadow: 0px 3px 5px;
  text-align: center;
}
article img {
  margin-top: 10px;
  box-shadow: 0px 2px 5px;
  float: center;
}
.main img {
  width: 350px;
  height: 220px;
  border-style: solid;
  border-radius: 3%;
}
.bestel {
  justify-content: center;
  flex-wrap: wrap;
}
.bestel a {
  text-decoration-line: underline;
  border-style: solid;
  border-radius: 10%;
  box-shadow: 0px 3px 5px;
  margin-bottom: 10px;
}
.bestel img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px;
}

.bestel.div {
  text-align: center;
  padding: 10px 20px;
}
.contact {
  margin-bottom: 25px;
  text-align: center;
}
.contact input {
  width: 50%;
}
.shop input,
select {
  width: 20%;
}
.se1 {
  width: 45%;
  margin-left: 45px;
  margin-top: 50px;
  float: left;
  text-align: center;
}
input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="password"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="datetime-local"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="date"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="tel"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="text"]:hover {
  background-color: #999999;
}
footer {
  background: rgb(255, 88, 158);
  grid-column-start: 1;
  grid-column-end: 14;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  box-shadow: 0px 3px 5px;
}

.se2 {
  width: 600px;
  float: left;
  text-align: center;
}
.s1 {
  background: rgb(255, 187, 216);
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 5px;
  margin-right: 5px;
  border-style: solid;
  box-shadow: 0px 3px 5px;
}
.s1 img {
  height: 125px;
  width: 125px;
}
.s2 {
  background: rgb(255, 149, 130);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-style: solid;
  text-align: center;
  box-shadow: 0px 3px 5px;
}
.s2 img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px;
  margin-bottom: 10x;
}
.s2 a {
  text-decoration-line: underline;
  border-style: solid;
  border-radius: 10%;
  box-shadow: 0px 3px 5px;
}
.s2.div {
  text-align: center;
  padding: 10px 20px;
}
.s3 {
  background: rgb(255, 88, 102);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-style: solid;
  text-align: center;
  box-shadow: 0px 3px 5px;
}
.s3 img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-style: solid;
  box-shadow: 0px 3px 5px;
}
@media (min-width: 910px) and (max-width: 1430px) and (min-height: 950px) {
  .container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 8px;
    height: 900px;
  }
  .container * {
    margin-bottom: 1px;
    margin-right: 1px;
  }
  header {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-gap: 20px;
  }
  header a {
    text-decoration-line: underline;
    width: 50px;
  }
  a:link,
  a:visited {
    padding: 8px 15px;
  }
  svg {
    width: 24px;
    height: 24px;
  }
  article {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  article img {
    margin-top: 10px;
    box-shadow: 0px 2px 5px;
    float: center;
  }
  .main img {
    width: 210px;
    height: 140px;
  }
  .bestel img {
    width: 80px;
    height: 80px;
  }
  .bestel.div {
    text-align: center;
    padding: 10px 20px;
  }
  .contact {
    margin-bottom: 25px;
  }
  .contact input {
    width: 30%;
    padding: 4px 12px;
    margin: 4px 0;
  }
  .shop input,
  select {
    width: 50%;
  }
  .se1 {
    width: 350px;
    margin-left: 60px;
    margin-top: 20px;
    float: left;
  }
  footer {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .se2 {
    width: 400px;
    float: left;
  }
  .s1 {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .s1 img {
    height: 80px;
    width: 80px;
  }
  .s2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .s2 img {
    width: 80px;
    height: 80px;
  }
  .s2.div {
    text-align: center;
    padding: 10px 20px;
  }
  .s3 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .s3 img {
    height: 60px;
    width: 60px;
  }
}
@media (min-width: 820px) and (max-width: 910px) and (min-height: 950px) {
  .container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 8px;
    height: 900px;
  }
  .container * {
    margin-bottom: 1px;
    margin-right: 1px;
  }
  header {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-gap: 20px;
  }
  header a {
    text-decoration-line: underline;
    width: 50px;
  }
  a:link,
  a:visited {
    padding: 8px 15px;
  }
  svg {
    width: 24px;
    height: 24px;
  }
  article {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  article img {
    margin-top: 10px;
    box-shadow: 0px 2px 5px;
    float: center;
  }
  .main img {
    width: 210px;
    height: 140px;
  }
  .bestel img {
    width: 80px;
    height: 80px;
  }
  .bestel.div {
    text-align: center;
    padding: 10px 20px;
  }
  .contact {
    margin-bottom: 25px;
  }
  .contact input {
    width: 30%;
    padding: 4px 12px;
    margin: 4px 0;
  }
  .shop input,
  select {
    width: 50%;
  }
  .se1 {
    width: 350px;
    margin-left: 60px;
    margin-top: 20px;
    float: left;
  }
  footer {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .se2 {
    width: 400px;
    float: left;
  }
  .s1 {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .s1 img {
    height: 80px;
    width: 80px;
  }
  .s2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .s2 img {
    width: 80px;
    height: 80px;
  }
  .s2.div {
    text-align: center;
    padding: 10px 20px;
  }
  .s3 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .s3 img {
    height: 60px;
    width: 60px;
  }
}
@media only screen and (min-width: 410px) and (max-width: 820px) {
  .container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 8px;
    row-gap: 150px;
  }
  header {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-gap: 10px;
    height: 30%;
  }
  header a {
    text-decoration-line: underline;
    width: 50px;
  }
  a:link,
  a:visited {
    padding: 8px 15px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
  article {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  article img {
    margin-top: 10px;
    box-shadow: 0px 2px 5px;
    float: center;
  }
  .main img {
    width: 210px;
    height: 140px;
  }
  .bestel img {
    width: 80px;
    height: 80px;
  }
  .bestel.div {
    text-align: center;
    padding: 10px 20px;
  }
  .contact {
    margin-bottom: 25px;
  }
  .contact input {
    width: 30%;
    padding: 4px 12px;
    margin: 4px 0;
  }
  .shop input,
  select {
    width: 20%;
  }
  .se1 {
    width: 500px;
    margin-left: 60px;
    margin-top: 50px;
    float: left;
  }
  footer {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .se2 {
    width: 600px;
    float: left;
  }
  .s1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .s1 img {
    height: 95px;
    width: 95px;
  }
  .s2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .s2 img {
    width: 80px;
    height: 80px;
  }
  .s2.div {
    text-align: center;
    padding: 10px 20px;
  }
  .s3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .s3 img {
    height: 60px;
    width: 60px;
  }
}
